@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

#top {
  .top-section-title {
    text-align: center;
    -webkit-perspective: 500px;
    perspective: 500px;

    span:first-child {
      display: block;
      color: var(--main-color);
      font-size: 16px;
      line-height: 1em;
      opacity: 0;
      transform: translate(0, 10px);
      transition: opacity 200ms, transform 200ms;
    }

    &[data-scrolled] span:first-child {
      opacity: 1;
      transform: translate(0, 0);
    }

    .icon-wrap {
      display: inline-block;
      transition: transform 400ms;
      transform: rotateY(180deg);
      transform-origin: center;
    }

    &[data-scrolled] .icon-wrap {
      transform: rotateY(360deg);
    }

    span:last-child {
      display: block;
      color: #000;
      font-size: 26px;
      line-height: 1em;
    }
  }

  .logo {
    padding: 250px 0 200px;
    text-align: center;
  }

  .logo img {
    width: calc(100% - 60px);
    max-width: 350px;
  }

  main > section + section {
    margin-top: 100px;
  }

  main > section .body {
    margin-top: 50px;
  }

  .about {
    dl {
      margin: 40px 0 0;

      div {
        display: flex;
        width: 400px;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        dt {
          width: 150px;
          padding: 0 0 0 10px;
          font-weight: normal;
        }

        dd {
          width: calc(100% - 150px);
          font-weight: 300;
        }
      }
    }
  }

  .features {
    dl {
      div:not(:first-child) {
        margin-top: 50px;
      }

      dt {
        color: #000;
        font-size: 24px;
        font-weight: normal;
        line-height: 24px;
        -webkit-perspective: 500px;
        perspective: 500px;

        .icon-wrap {
          display: inline-block;
          position: relative;
          transition: transform 400ms;
          transform: rotateY(180deg);
          transform-origin: center;
        }
      }

      [data-scrolled] dt .icon-wrap {
        transform: rotateY(360deg);
      }

      dd {
        margin-top: 20px;
      }
    }

    ul {
      margin-bottom: 20px;

      li {
        list-style: disc;
        margin-left: 20px;
      }
    }
  }

  .inquiry .body {
    > p {
      text-align: center;
    }

    > div {
      margin-top: 40px;
    }
  }
}

@include f.mq(sp) {
  #top {
    .top-section-title {
      span:first-child {
        font-size: 18px;
      }

      span:last-child {
        font-size: 24px;
      }
    }

    .logo {
      padding: 150px 0 100px;
    }

    main > section + section {
      margin-top: 60px;
    }

    main > section .body {
      margin-top: 30px;
    }

    .about dl {
      margin: 30px 0 0;

      div {
        width: 100%;

        dt {
          width: 120px;
        }

        dd {
          width: calc(100% - 120px);
        }
      }
    }

    .features {
      dl {
        div:not(:first-child) {
          margin-top: 30px;
        }

        dt {
          font-size: 18px;
        }
      }
    }
  }
}
