<form action="#" method="post" class="inquiry-form" data-use-module="inquiryForm">
  <dl>
    <dt><label for="name-input">お名前</label></dt>
    <dd><input type="text" name="name" id="name-input" required></dd>
    <dt><label for="email-input">メールアドレス</label></dt>
    <dd><input type="email" name="email" id="email-input" required></dd>
    <dt><label for="message-textarea">お問い合わせ内容</label></dt>
    <dd><textarea name="message" id="message-textarea" required></textarea></dd>
  </dl>

  <div class="button">
    <button type="submit">送信する</button>
    <div class="loading">Loading...</div>
  </div>
</form>
