/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!../assets/scss/styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .tb:not(.sp) {
    display: none;
  }
  .pc:not(.sp) {
    display: none;
  }
}
@media screen and (min-width: 751px) and (max-width: 1280px) {
  .sp:not(.tb) {
    display: none;
  }
  .pc:not(.tb) {
    display: none;
  }
}
@media screen and (min-width: 1281px) {
  .sp:not(.pc) {
    display: none;
  }
  .tb:not(.pc) {
    display: none;
  }
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #fff;
  color: #000;
}

.hljs-comment, .hljs-quote, .hljs-variable {
  color: green;
}

.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag {
  color: #00f;
}

.hljs-addition, .hljs-attribute, .hljs-literal, .hljs-section, .hljs-string, .hljs-template-tag, .hljs-template-variable, .hljs-title, .hljs-type {
  color: #a31515;
}

.hljs-deletion, .hljs-meta, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #2b91af;
}

.hljs-doctag {
  color: grey;
}

.hljs-attr {
  color: red;
}

.hljs-bullet, .hljs-link, .hljs-symbol {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  --main-color: #0C7139;
  --main-color-dark: #114F2B;
}

html {
  padding-top: 40px;
  color: #333;
  font-family: Inder, "IBM Plex Sans JP", sans-serif;
  font-size: 16px;
  line-height: 2em;
}

body {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  color: #0775DA;
}

p {
  text-align: justify;
  letter-spacing: 0.08em;
}

p + p {
  margin-top: 30px;
}

p a:hover {
  text-decoration: underline;
}

p strong {
  color: var(--main-color);
  font-weight: bold;
}

i.icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border-top: 12px solid var(--main-color);
  border-left: 12px solid var(--main-color);
  border-right: 12px solid var(--main-color-dark);
  border-bottom: 12px solid var(--main-color-dark);
  border-radius: 50% 0 50% 50%;
  vertical-align: top;
}

i.icon.grayscale {
  filter: grayscale(1);
  opacity: 0.7;
}

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 30px;
}

#accela-layout main {
  max-width: 1080px;
}

.common-section-title {
  padding: 80px 0;
  text-align: center;
  color: var(--main-color);
  font-size: 60px;
  font-weight: normal;
  line-height: 1em;
}

@media screen and (max-width: 750px) {
  body {
    line-height: 1.8em;
  }
  p + p {
    margin-top: 25px;
  }
  main {
    padding: 0 20px;
  }
  .common-section-title {
    padding: 50px 0;
    font-size: 30px;
  }
}
#top .top-section-title {
  text-align: center;
  perspective: 500px;
}
#top .top-section-title span:first-child {
  display: block;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1em;
  opacity: 0;
  transform: translate(0, 10px);
  transition: opacity 200ms, transform 200ms;
}
#top .top-section-title[data-scrolled] span:first-child {
  opacity: 1;
  transform: translate(0, 0);
}
#top .top-section-title .icon-wrap {
  display: inline-block;
  transition: transform 400ms;
  transform: rotateY(180deg);
  transform-origin: center;
}
#top .top-section-title[data-scrolled] .icon-wrap {
  transform: rotateY(360deg);
}
#top .top-section-title span:last-child {
  display: block;
  color: #000;
  font-size: 26px;
  line-height: 1em;
}
#top .logo {
  padding: 250px 0 200px;
  text-align: center;
}
#top .logo img {
  width: calc(100% - 60px);
  max-width: 350px;
}
#top main > section + section {
  margin-top: 100px;
}
#top main > section .body {
  margin-top: 50px;
}
#top .about dl {
  margin: 40px 0 0;
}
#top .about dl div {
  display: flex;
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
#top .about dl div dt {
  width: 150px;
  padding: 0 0 0 10px;
  font-weight: normal;
}
#top .about dl div dd {
  width: calc(100% - 150px);
  font-weight: 300;
}
#top .features dl div:not(:first-child) {
  margin-top: 50px;
}
#top .features dl dt {
  color: #000;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  perspective: 500px;
}
#top .features dl dt .icon-wrap {
  display: inline-block;
  position: relative;
  transition: transform 400ms;
  transform: rotateY(180deg);
  transform-origin: center;
}
#top .features dl [data-scrolled] dt .icon-wrap {
  transform: rotateY(360deg);
}
#top .features dl dd {
  margin-top: 20px;
}
#top .features ul {
  margin-bottom: 20px;
}
#top .features ul li {
  list-style: disc;
  margin-left: 20px;
}
#top .projects section + section {
  margin-top: 60px;
}
#top .projects section h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1em;
}
#top .projects section p {
  margin-top: 30px;
}
#top .inquiry .body > p {
  text-align: center;
}
#top .inquiry .body > div {
  margin-top: 40px;
}

@media screen and (max-width: 750px) {
  #top .top-section-title span:first-child {
    font-size: 18px;
  }
  #top .top-section-title span:last-child {
    font-size: 24px;
  }
  #top .logo {
    padding: 150px 0 100px;
  }
  #top main > section + section {
    margin-top: 60px;
  }
  #top main > section .body {
    margin-top: 30px;
  }
  #top .about dl {
    margin: 30px 0 0;
  }
  #top .about dl div {
    width: 100%;
  }
  #top .about dl div dt {
    width: 120px;
  }
  #top .about dl div dd {
    width: calc(100% - 120px);
  }
  #top .features dl div:not(:first-child) {
    margin-top: 30px;
  }
  #top .features dl dt {
    font-size: 18px;
  }
}
#accela-document .document-layout {
  display: flex;
  justify-content: space-between;
}
#accela-document .document-layout nav {
  width: 200px;
}
#accela-document .document-layout nav .get-started a {
  display: block;
  padding: 0 15px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.05em;
  background-color: #000;
  transition: color 200ms, background-color 200ms;
}
#accela-document .document-layout nav .get-started a:hover {
  background-color: #666;
}
#accela-document .document-layout nav ul {
  margin-top: 20px;
}
#accela-document .document-layout nav ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  line-height: 50px;
}
#accela-document .document-layout nav ul li a:hover, #accela-document .document-layout nav ul li a.current {
  color: #b82b22;
}
#accela-document .document-layout nav ul li a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(/assets/images/accela/icons/accela.png);
  opacity: 0.3;
  transition: opacity 200ms;
}
#accela-document .document-layout nav ul li a:hover::before, #accela-document .document-layout nav ul li a.current::before {
  opacity: 1;
}
#accela-document .document-layout nav ul li.html a::before {
  background-image: url(/assets/images/accela/icons/html.svg);
}
#accela-document .document-layout nav ul li.php a::before {
  background-image: url(/assets/images/accela/icons/php.svg);
}
#accela-document .document-layout nav ul li.js a::before {
  background-image: url(/assets/images/accela/icons/js.svg);
}
#accela-document .document-layout .body {
  width: calc(100% - 240px);
}
#accela-document .document-layout .body article {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.07em;
}
#accela-document .document-layout .body article h1 {
  margin: 0 0 30px;
  padding: 0 0 10px;
  border-bottom: 1px solid #888;
  color: #000;
  font-size: 30px;
  font-weight: normal;
}
#accela-document .document-layout .body article h1 + p code {
  position: relative;
  top: -15px;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  background-color: #333;
}
#accela-document .document-layout .body article h2 {
  margin: 20px 0;
  color: #000;
  font-size: 30px;
  font-weight: normal;
}
#accela-document .document-layout .body article h3 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: normal;
}
#accela-document .document-layout .body article h4 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: normal;
}
#accela-document .document-layout .body article p + h2, #accela-document .document-layout .body article p + h3, #accela-document .document-layout .body article p + h4,
#accela-document .document-layout .body article ul + h2, #accela-document .document-layout .body article ul + h3, #accela-document .document-layout .body article ul + h4,
#accela-document .document-layout .body article ol + h2, #accela-document .document-layout .body article ol + h3, #accela-document .document-layout .body article ol + h4,
#accela-document .document-layout .body article pre + h2, #accela-document .document-layout .body article pre + h3, #accela-document .document-layout .body article pre + h4,
#accela-document .document-layout .body article div + h2, #accela-document .document-layout .body article div + h3, #accela-document .document-layout .body article div + h4 {
  margin-top: 50px;
}
#accela-document .document-layout .body article a {
  text-decoration: none;
  color: #1768fd;
}
#accela-document .document-layout .body article a:hover {
  text-decoration: underline;
}
#accela-document .document-layout .body article p {
  margin: 20px 0;
}
#accela-document .document-layout .body article p code {
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 3px;
  line-height: 1.5;
  background-color: #ddd;
}
#accela-document .document-layout .body article p + p {
  margin-top: -10px;
}
#accela-document .document-layout .body article pre {
  border: 1px solid #999;
  border-radius: 0 5px 5px 5px;
  overflow: hidden;
}
#accela-document .document-layout .body article pre code {
  font-family: "Source Code Pro", monospace !important;
}
#accela-document .document-layout .body article ul, #accela-document .document-layout .body article ol {
  margin-left: 20px;
}
#accela-document .document-layout .body article ul li:not(:first-child), #accela-document .document-layout .body article ol li:not(:first-child) {
  margin-top: 5px;
}
#accela-document .document-layout .body article ul ul, #accela-document .document-layout .body article ol ul {
  margin-top: 5px;
  margin-bottom: 10px;
}
#accela-document .document-layout .body article ul {
  list-style: disc;
}
#accela-document .document-layout .body article table {
  border-collapse: collapse;
}
#accela-document .document-layout .body article table th, #accela-document .document-layout .body article table td {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fdffff;
  text-align: left;
  vertical-align: top;
}
#accela-document .document-layout .body article table th {
  font-weight: normal;
  background-color: #eef8f8;
}
#accela-document .document-layout .body article .code-with-caption > p {
  margin: 20px 0 0 -5px;
}
#accela-document .document-layout .body article .code-with-caption > p code {
  padding: 5px 10px;
  border-radius: 3px 3px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: #333;
}
#accela-document .document-layout .body article .code-with-caption > pre {
  margin-top: 0;
}

@media screen and (max-width: 750px) {
  #accela-document .document-layout {
    display: block;
  }
  #accela-document .document-layout .side-toggle {
    position: fixed;
    top: 80px;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-family: "Didact Gothic", sans-serif;
    font-size: 12px;
    line-height: 50px;
    cursor: pointer;
    background-color: #000;
    z-index: 101;
  }
  #accela-document .document-layout .side-toggle::before {
    content: "MENU";
  }
  #accela-document .document-layout nav {
    position: absolute;
    top: 40px;
    left: -350px;
    width: 300px;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 1;
    transition: left 200ms;
  }
  #accela-document .document-layout nav.opened {
    left: 0;
  }
  #accela-document .document-layout .body {
    width: 100%;
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 40px;
  background-color: var(--main-color-dark);
  z-index: 2;
}
.site-header h1 a {
  color: #fff;
}
.site-header nav ul {
  display: flex;
  gap: 0 40px;
}
.site-header nav ul li a {
  color: #fff;
}

.site-footer {
  margin: 100px 0 0;
  padding: 0 0 50px;
}
.site-footer p {
  text-align: center;
}
.site-footer p + p {
  margin: 0 0 0 20px;
}

.contents-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 113, 57, 0.02);
  z-index: -1;
}
.contents-bg .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #fff 30%, #fff 70%, rgba(255, 255, 255, 0) 100%);
  transform: translate(-50%, 0);
  transition: opacity 400ms;
  z-index: 1;
}
.contents-bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

@media screen and (max-width: 750px) {
  .contents-bg .overlay {
    opacity: 0;
  }
  .contents-bg .bg canvas {
    opacity: 0.3;
  }
}
.inquiry-form dl {
  max-width: 600px;
  margin: 0 auto;
}
.inquiry-form dl dt {
  color: #000;
  font-weight: normal;
}
.inquiry-form dl dt:not(:first-child) {
  margin-top: 20px;
}
.inquiry-form dl dd {
  margin-top: 5px;
}
.inquiry-form dl dd input,
.inquiry-form dl dd textarea {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #f8f8f8;
}
.inquiry-form dl dd textarea {
  height: 160px;
  padding: 10px 15px;
}
.inquiry-form .button {
  margin: 40px 0 0;
  text-align: center;
}
.inquiry-form .button button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  background-color: var(--main-color-dark);
}
.inquiry-form .button button.hide {
  display: none;
}
.inquiry-form .button button:hover {
  background-color: var(--main-color);
}
.inquiry-form .loading,
.inquiry-form .loading:before,
.inquiry-form .loading:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.inquiry-form .loading {
  display: none;
  color: var(--main-color);
  font-size: 10px;
  margin: 20px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.inquiry-form .loading.show {
  display: block;
}
.inquiry-form .loading:before,
.inquiry-form .loading:after {
  content: "";
  position: absolute;
  top: 0;
}
.inquiry-form .loading:before {
  left: -2em;
  animation-delay: -0.32s;
}
.inquiry-form .loading:after {
  left: 2em;
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*# sourceMappingURL=styles.css.map*/