---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Icon from '../components/Icon.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Projects - green spot" description="green spot" />
	</head>
	<body>
		<Header />

		<main>
			<section>
				<h2 class="common-section-title">Projects</h2>

				<section>
					<h3><span>Project 1</span>Accela</h3>
					<p><a href="https://github.com/green-spot/accela" target="_blank">https://github.com/green-spot/accela</a><br>PHP製、OSSのSPA用のWebフレームワークを開発中です。<a href="https://quocca-works.com/accela/" target="_blank">こちら</a>でドキュメントを公開しています。</p>
				</section>

				<section>
					<h3><span>Project 2</span>Aproxi</h3>
					<p><a href="https://github.com/green-spot/aproxi" target="_blank">https://github.com/green-spot/aproxi</a><br>既存のAPIと通信を行い、仲介することで、キャッシュ管理やデータ加工をすることができるPHP製のProxyを開発中です。APIの通信制限対策や、SPA用のツールとして使うことができます。<br>詳細はお問い合わせください。</p>
				</section>

				<section>
					<h3><span>Project 3</span>ヘッドレスCMS</h3>
					<p>SaaSのヘッドレスCMSを開発中です。<br>2023年中に公開予定。</p>
				</section>
			</section>
		</main>

		<Footer />
	</body>
</html>

<style>
	main > section > section + section {
		margin-top: 80px;
	}
	main > section > section h3 {
		font-size: 30px;
		font-weight: normal;
		line-height: 1em;
	}
	main > section > section h3 span {
		display: block;
		margin-bottom: 5px;
		color: var(--main-color);
		font-size: 18px;
	}
	main > section > section p {
		margin-top: 30px;
	}
</style>
