---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description}>

<!--link rel="icon" type="image/svg+xml" href="/favicon.svg"-->
<link rel="stylesheet" href="/assets/css/ibm-plex-sans-jp.min.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-97YQ96NEHG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-97YQ96NEHG');
</script>
