<header>
	<h1><a href="/">green spot</a></h1>
	<nav>
		<ul>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="https://twitter.com/ingreenspot" target="_blank">Twitter</a></li>
		</ul>
	</nav>
</header>
<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		padding: 0 40px;
		background-color: var(--main-color-dark);
		z-index: 1;
	}
	h1 a {
		color: #fff;
	}
	nav ul {
		display: flex;
		gap: 0 40px;
	}
	nav ul li a {
		color: #fff;
	}
</style>
